<html>
<head>
	<title>anexo b</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<h1 style="text-decoration: underline"><strong>Fotos Descripcion</strong></h1>
		<div>
			<table class="borde">
				<tr>
					<td>  <img src="../images/Bicicleta/bici1-95x70.gif"></td>
					<td>
						<div class="cajita">
							<h3>Descripcion</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						</div>
					</td>
				</tr>
				<tr>
					<td> <img src="../images/Equipos Musicales/EquipoMusica6.1-300x222.jpg" width="600px"; height="444px"></td>
					<td>
						<div class="cajita">
							<h3>Descripcion</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						</div>
					</td>
				</tr>
				<tr>
					<td> <img src="../images/Refrigerador/Refrigerador4-95x70.gif"></td>
					<td>
						<div class="cajita">
							<h3>Descripcion</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						</div>
					</td>
				</tr>
				<tr>
					<td> <img src="../images/LOGO.gif" width="95px" height="70px"></td>
					<td>
						<div class="cajita">
						<h3>Descripcion</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						</div>
					</td>
				</tr>
			</table>
		</div> <!-- tabla -->
		<br /><br />
		<div>
			<a id="linkLeft" href="anexo_a.html">anexo A</a>
			<a href="index.html">index</a>
		</div>
	</div> <!-- contenedor -->
</body>
</html>