<html>
<head>
	<title>hobbie</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<h1>Hobbie Favorito</h1>
		<div> <!-- listas -->
			<hr>
			<div> <!-- unorder list -->
				<h3>Descripcion</h3>
					<p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					</p>
				<ul>
					<li>ul item uno</li>
					<li>ul item dos</li>
					<li>ul item tres</li>
				</ul>
			</div>
			<hr>
			<div> <!-- order list -->
				<h3>Caracteristicas</h3>
				<ol>
					<li>ol item uno</li>
					<li>ol item dos</li>
					<li>ol item tres</li>
				</ol>
			</div>
			<hr>
			<div> <!-- definition list -->
				<h3>Historia</h3>
				<div>
					<p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					</p>
				</div>
				<dl>
					<dt>term item uno</dt>
					<dd>desc item uno</dd>
					<dt>term item dos</dt>
					<dd>desc item dos</dd>
					<dt>term item tres</dt>
					<dd>desc item tres</dd>
				</dl>
			</div>
		</div> <!-- listas -->
		<hr>
		<br /><br />
		<a href="anexo_a.html">anexo a</a>
	</div> <!-- container -->
</body>
</html>

