<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<div class="header">
			<img src="../images/LOGO.gif"  width="600px">
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<a href="productos/prod_1.html">
								<img src="../images/Bicicleta/bici1-300x222.jpg">
							</a>
						</td>
						<td>
							<a href="productos/prod_2.html">
								<img src="../images/Equipos Musicales/EquipoMusica6.1-300x222.jpg">
							</a>
						</td>
						<td>
							<a href="productos/prod_3.html">
								<img src="../images/Refrigerador/Refrigerador4-300x222.jpg">
							</a>
						</td>
					</tr>
				</tbody>
				<tfooter>
					<tr>
						<td class="txtCentro">Bicicleta</td>
						<td class="txtCentro">Equpo Musical</td>
						<td class="txtCentro">Refrigerador</td>
					</tr>
				</tfooter>
			</table>
		</div>
	</div> <!-- contenedor -->
	<div class="footer">
		<a  href="about.html">Quienes somos?</a>
	</div>
</body>
</html>