<html>
<head>
	<title>fotos</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<h1>Anexo A fotos</h1>
		<hr>
		<br />
		<a href="#linkLeft">Bottom</a>
		<br />
		<div>
			<table class="borde">
				<tr>
					<td><img src="../images/Bicicleta/bici1-300x222.jpg"></td>
					<td><img src="../images/Equipos Musicales/EquipoMusica6.1-300x222.jpg"></td>
				</tr>
				<tr>
					<td><img src="../images/Refrigerador/Refrigerador4-300x222.jpg"></td>
					<td><img src="../images/LOGO.gif" height="222px" width="300px"></td>
				</tr>
			</table>
		</div>
		<br />
		<div>
			<a href="anexo_a.html">Top</a>
			<a id="linkLeft" href="anexo_b.html">anexo b</a>
		</div>
	</div>  <!-- container -->



</body>
</html>