<html>
<head>
	<title>Equipo Musica</title>
	<link rel="stylesheet" type="text/css" href="../../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<table>
			<tr>
				<td><img class="imgGrande" src="../../images/Equipos Musicales/EquipoMusica6.1-300x222.jpg" width="600px" height="444px"></td>
				<td>
					<div class="cajita">
						<h3>Caracteristicas</h3>
						<p class="cajita">Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
						<ul>
						<ul>
							<li>item 1</li>
							<li>item 2</li>
							<li>item 3</li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div> <!-- contenedor -->
	<div class="footer">
		<a href="../home.html">Volver</a>
	</div>
</body>
</html>