<html>
<head>
	<title>Quieres Somos?</title>
	<link rel="stylesheet" type="text/css" href="../themes/css/estilo.css">
</head>
<body>
	<div class="contenedor">
		<div class="header">
			<h1>Quienes Somos?</h1>
		</div>
		<div>
			<h3>Caracteristicas de la Empresa</h3>
			<p class="cajita">Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
			<ul>
				<li>item 1</li>
				<li>item 2</li>
			</ul>
		</div>
		<div>
			<table>
				<tr>
					<td>
						<ul>
							<li>Personal</li>
							<li>Gerente</li>
							<li>Junior</li>
							<li>etc...</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Direccion</li>
							<li>Comuna</li>
							<li>Telefono</li>
							<li>etc...</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div> <!-- contenedor -->
	<div class="footer">
		<a href="home.html">Volver</a>
	</div>
</body>
</html>